body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}


.top-bar {
    background: #222;
    color: white;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}


.top-bar.second {
    opacity: 0.7;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}


.menu-section {
    background: #e0bbff;
    padding: 20px;
    min-height: 300px;
}

.menu-section ul {
    list-style: disc;
    padding-left: 20px;
}

.menu-section li {
    margin: 12px 0;
    font-size: 18px;
}


.bottom-gray {
    background: #777;
    height: 220px;
}

.menu-list {
    padding-left: 20px;

}

/* Botões com aparência de <li> */
.categoria-btn {
    display: block;
    background: none;
    border: none;
    text-align: left;
    padding: 8px 0;
    font-size: 18px;
    cursor: pointer;
    list-style: disc;
    position: relative;
}

/* Bolinha da lista */
.categoria-btn::before {
    content: "•";
    position: absolute;
    left: -18px;
    top: 0;
    font-size: 22px;
}

/* Efeito ao passar o mouse */
.categoria-btn:hover {
    opacity: 0.7;
}